@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background: #e1e1e1;
    font-family: "Open Sans", sans-serif;
}

.container {
    background: #fff;
    border-radius: 10px;
    margin: 2rem 3rem;
    padding: 2rem 0.5rem;
    text-align: center;
}

#scrambled-word {
    color: #24518e;
    font-size: 1.75rem;
    font-weight: bold;
}

.scrambler {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    min-width: 0px;
}

.word {
    display: flex;
    // justify-content: space-evenly;
    gap: 1rem;
}

.character {
    input {
        background: #e1e1e1;
        border: none;
        font-size: 1rem;
        padding: 0.5rem;
        flex-basis: 0;
        min- &:focus {
            outline: none;
        }
    }

    .success {
        background: #4caf50;
    }
}
