@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background: #e1e1e1;
    font-family: "Open Sans", sans-serif;
}

.container {
    background: #fff;
    border-radius: 10px;

    padding: 2rem 0.5rem;
    text-align: center;
    width: 80%;

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#scrambled-word {
    color: #24518e;
    font-size: 1.75rem;
    font-weight: bold;
}

.scrambler {
    padding: 1rem 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    min-width: 0px;
}

.word {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.character {
    background: #e1e1e1;
    width: 100%;
}

textarea {
    margin: 0;
    text-align: center;
    background: none;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    resize: none;
    &:focus {
        outline: none;
    }
}

.success {
    background: #4caf50;
    color: #fff;
}

.space {
    background: #ffb74d;
}

.next-button {
    padding: 0.5rem 1rem;
    background: #4caf50;
    color: #fff;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
}
